<main>
    <section class="container main-content">
        
        <h3>Main Content Here</h3>
        <div class="article orange-bg">
            <p>
                Das Quartetto Con Piacere läßt Musik auf vier wunderbaren Streichinstrumenten erklingen, die ihren mediterranen Vorfahren zum Verwechseln ähneln. ‚Con Piacere‘, mit Vergnügen — ist dabei Leitmotiv unserer Arbeit : Musik soll Freude machen ! Wir verspüren diese bereits bei der Werkauswahl, beim gemeinsamen Proben und immer wieder ganz be- sonders im Konzert. Den Zuhörern dieses Vergnügen ebenfalls erlebbar zu machen ist unser Wunsch und angestrebtes Ziel. Genießen Sie doch mit dem Quartetto Con Piacere gemeinsam erlebnisreiche Musik und besuchen Sie eines unserer nächsten Konzerte. Wir würden uns freuen und sagen schon mal : Herzlich Willkommen !
            </p>
        </div>
        <div class="article green-bg">
            <p>
                Das Quartetto Con Piacere läßt Musik auf vier wunderbaren Streichinstrumenten erklingen, die ihren mediterranen Vorfahren zum Verwechseln ähneln. ‚Con Piacere‘, mit Vergnügen — ist dabei Leitmotiv unserer Arbeit : Musik soll Freude machen ! Wir verspüren diese bereits bei der Werkauswahl, beim gemeinsamen Proben und immer wieder ganz be- sonders im Konzert. Den Zuhörern dieses Vergnügen ebenfalls erlebbar zu machen ist unser Wunsch und angestrebtes Ziel. Genießen Sie doch mit dem Quartetto Con Piacere gemeinsam erlebnisreiche Musik und besuchen Sie eines unserer nächsten Konzerte. Wir würden uns freuen und sagen schon mal : Herzlich Willkommen !
            </p>
        </div>
        <div class="article blue-bg">
            <p>
                Das Quartetto Con Piacere läßt Musik auf vier wunderbaren Streichinstrumenten erklingen, die ihren mediterranen Vorfahren zum Verwechseln ähneln. ‚Con Piacere‘, mit Vergnügen — ist dabei Leitmotiv unserer Arbeit : Musik soll Freude machen ! Wir verspüren diese bereits bei der Werkauswahl, beim gemeinsamen Proben und immer wieder ganz be- sonders im Konzert. Den Zuhörern dieses Vergnügen ebenfalls erlebbar zu machen ist unser Wunsch und angestrebtes Ziel. Genießen Sie doch mit dem Quartetto Con Piacere gemeinsam erlebnisreiche Musik und besuchen Sie eines unserer nächsten Konzerte. Wir würden uns freuen und sagen schon mal : Herzlich Willkommen !
            </p>
        </div>
        <div class="article red-bg">
            <p>
                Das Quartetto Con Piacere läßt Musik auf vier wunderbaren Streichinstrumenten erklingen, die ihren mediterranen Vorfahren zum Verwechseln ähneln. ‚Con Piacere‘, mit Vergnügen — ist dabei Leitmotiv unserer Arbeit : Musik soll Freude machen ! Wir verspüren diese bereits bei der Werkauswahl, beim gemeinsamen Proben und immer wieder ganz be- sonders im Konzert. Den Zuhörern dieses Vergnügen ebenfalls erlebbar zu machen ist unser Wunsch und angestrebtes Ziel. Genießen Sie doch mit dem Quartetto Con Piacere gemeinsam erlebnisreiche Musik und besuchen Sie eines unserer nächsten Konzerte. Wir würden uns freuen und sagen schon mal : Herzlich Willkommen !
            </p>
        </div>
    </section>
</main>