/** Colors ***/ 

$red: #d33434;
$blue: #34a6d3;
$orange: #d37b34;
$green: #39d334;
$dark-color: #092835;
$black: #101010;
$white: #f1f1f1;


$width-xl: 1400px;
$width-lg: 1200px;
$width-md: 960px;
$width-sm: 720px;
$width-xs: 540px;

